{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="{% static './css/style.css'%}">
    <link rel="stylesheet" href="{% static './css/checkout.css'%}">
</head>
<body>
    <section class="HeaderContainer">
        <div class="header"id="head">
            <div class="logo-container">

            </div>
            <div class="link-container dissapear">
                <button>Home</button>
                <button>Order a burger</button>
                <button>About us</button>
            </div>
            <div class="contact-btn">
                <button>0712345677</button>
            </div>
        </div>
    </section>
    <section class="FormCon">
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="name" id="name" placeholder="Your name">
                <input type="text" name="email" id="email" placeholder="email">
                <input type="text" name="location" id="location" placeholder="location">
                <input type="text" name="address" id="address" placeholder="address">
                <input type="text" name="Phone" id="Phone" placeholder="Phone">
                <button type="submit" class="btn btn-primary">PLace Order</button>
            </form>
        </div>
    </section>
    
</body>
</html>