{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger PLace</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static './css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
</head>
<body>
    <section class="HeaderContainer">
        <div class="header"id="head">
            <div class="logo-container">
                <h1>Logo</h1>
            </div>
            <div class="link-container dissapear">
                <button>Home</button>
                <button>Order a burger</button>
                <button>About us</button>
            </div>
            <div class="contact-btn">
                <button>0712345677</button>
            </div>
        </div>
    </section>
    <section class="f-bodyContainer">
        <div class="body-container">
           <div class="text-con">
               <div class="text-header">
                    <h1>Order a burger now !!!</h1>
               </div>
               <div class="text-body">
                   <h4 style="text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;">Get your hawaiian burger @ 100 bob only !</h4>
                    <p>Free delivery around Maasai Lodge Rongai</p>
               </div>
               <div class="text-links">
                    <button id="find" >Find us</button>
                    <button id="order">ORDER NOW !</button>
               </div>
           </div> 
        </div>
    </section>
    <section class="s-bodyContainer">
        <div class="body-container">
            <div class="text-con">
                <div class="text-header">
                    <h1>Get yourself a luscious burger </h1>
               </div>
               <form action="">
                   
               <div class="text-body">
                    <img src="{% static './img/burger.jpg'%}" alt="">
                        <select id="flavour" name="flavour" aria-placeholder="Select flavour">
                            <option value="huwaian">Hawaiian</option>
                        </select>
                        <input id="quantity" name="quantity" type="number" placeholder="How many ?" required>

                    </div>
                    <div class="text-links">
                        <a href="/checkout" style="width:auto" id="order"> ORDER NOW !</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        console.log('this is working ')

        $(document).on('click','#order',function(){
            localStorage.setItem('object', parseFloat(document.getElementById('quantity').value)
            );

            // After get item
            var object = localStorage.getItem('object');
            console.log(object);
        })

        
    </script>
    <script src="{% static './js/script.js'%}"></script>
</body>
</html>